body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#root
{
  margin: 0;
  padding: 0;
}
.LandingPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.LandingPageImage {
  height: 100%;
  width: 40%;
  z-index: -1;
}

.button1 {
  margin-top: 280px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3AA4A4;
  border-radius: 16px;
  color: white;
  cursor: pointer;
}
.button2 {
  margin-top: 25px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3AA4A4;
  border-radius: 16px;
  color: white;
  cursor: pointer;
}
.emailInput
{
  margin-top: 350px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 16px;
  padding-left: 25px;

}
.emailInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}

.emailInput:focus
{
outline: none;

}
.passwordInput
{
  margin-top: 25px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 16px;
  padding-left: 25px;

}
.passwordInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}
.passwordInput:focus
{
outline: none;

}

.buttonLogin
{
  margin-top: 25px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border-radius: 16px;
  cursor: pointer;
}



.FamilyForm
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.NavBarFamilyPage
{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbarTitle
{
  font-weight: 700;
  font-size: 32px;
  padding-left:35%
}
.navbarlogout
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100px ;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.FamilyFormDiv
{
  margin-top: 25px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 128%;
  height: 50px;
  align-items: center;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 128%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 132%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 151%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:30px;
  width: 12%;
  border-radius: 6px;
}
.TitlePERSONALDETAILS
{
  margin-top: 50px;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #3AA4A4;
  color:white;

}
.SubmitButton
{
  margin: 60px;
  background-color: #3AA4A4;
  height: 200px;
  width: 180px;
  border-radius: 16px;
  font-size: 24px;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

}
.SubmitButton:hover
{
  margin: 60px;
  background-color: white;
  height: 220px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: #3AA4A4;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3AA4A4;
  cursor: pointer;

}
.subNavbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3AA4A4;
  color: white;
  width: 100%;
  height: 100px;
  font-size: 24px;

}


/*home page*/

.bg-image {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page
{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.innerpage
{
height: 91.8%;
width: 94.5%;
display: flex;
flex-direction: column;
align-items: center;

}

.navbar
{
height: 75px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbarDateTime
{
display: flex;
justify-content: space-around;
align-items: center;
width: 25%;
}
.navbarLanguage
{
display: flex;
justify-content: space-around;
align-items: center;
width: 15%;
margin-right: 5%;
}


.Underline
{
height: 1px;
background-color: black;
width: 95%;
}


.OrgName
{
width: 100px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;  
}


.pages
{
 
margin-top: 10px;
background-color:#088178;
padding: 20px 10px;
display: flex;
width: 90%;
justify-content: space-around;

}

.pages .link{
 color: white;
 cursor: pointer;
}

.main-hero{
height: 50vh;
width: 100%;
margin-top: 20px;
display: flex;
justify-content: space-around;
align-content: center;
flex-wrap: wrap;
}

.main-hero .main-table{
margin-top: 20px;
display: flex;
justify-content: center;
align-self: center;
flex-direction: column;

width: 40%;
}

.main-hero .main-table .table{
background-color: #088178;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
}



.main-hero .main-table .table span{
color: white;
}


.main-hero .main-table .table-line{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 40vh;
border: 2px solid rgba(0, 0, 0, 0.306);
margin-top: 10px;
}


.main-hero .main-table .table-line span{
font-size: 20px;
display: flex;
justify-content: center;
text-align: center;
padding: 20px;
margin: 10px;
}


.main-hero .main-table .table-line .submit{
margin-bottom: 20px;
padding: 5px;
display: flex;
flex-wrap: nowrap;
}


.main-hero .main-table .table-line .submit input{
padding: 10px 20px 10px 5px;
margin-right: 5px;
border-radius: 5px;
background-color: rgb(210, 209, 209);
border: none;
outline: none;
}


.main-hero .main-table .table-line .submit ::placeholder{
padding-left: 5px;
}


.main-hero .main-table .table-line .submit button{
padding: 10px 15px;
background-color: #088178;
color: white;
border: none;
outline: none;
border-radius: 5px;
}


.main-hero .hero-img{
margin-top: 20px;
height: 40vh;
width: 40%;
}


.main-hero .hero-img img{

height: auto;
width: 90%;
margin-bottom: 10px;
} 
@media (max-width: 320px) {
  .LandingPageImage {
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .button1 {
    margin-top: 190px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }

  .button2 {
    margin-top: 25px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }

  .emailInput
{
  margin-top: 180px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border: none;
  height: 15px;
  width: 75px;
  border-radius: 16px;
  padding-left: 15px;

}
.emailInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}

.emailInput:focus
{
outline: none;

}
.passwordInput
{
  margin-top: 10px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border: none;
  height: 15px;
  width: 75px;
  border-radius: 16px;
  padding-left: 15px;

}
.passwordInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}
.passwordInput:focus
{
outline: none;

}

.buttonLogin
{
  margin-top: 15px;
  height: 15px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.664);
  border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 12px;
}


.NavBarFamilyPage
{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navImage
{
  height: 100%;
}
.navbarTitle
{
  font-weight: 700;
  font-size:8px;
}
.navbarlogout
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:50px ;
  font-size: 8px;
  margin-right: 6px;
  cursor: pointer;
}





.inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 10%;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 10%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 0%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 80%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:15px;
  width: 40%;
  border-radius: 6px;
}
.TitlePERSONALDETAILS
{
  margin-top: 50px;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;

}
.SubmitButton
{
  margin: 60px;
  background-color: #3AA4A4;
  height: 200px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: white;
 display: flex;
  justify-content: center;
  align-items: center;

}
.SubmitButton:hover
{
  margin: 60px;
  background-color: white;
  height: 220px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: #3AA4A4;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3AA4A4;
  cursor: pointer;

}
.subNavbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3AA4A4;
  color: white;
  width: 100%;
  font-size: 10px;
  height: 75px;
}


.navbar
{
height: 30px;
width: 80%;

}


.navbarLanguage
{

width: 28%;

}



.navbarDateTime
{
font-size: 8px;
}

.navbarLanguage{
font-size: 8px;
}

.Date{
padding-right: 5px;
margin-right:15px;
white-space: nowrap;
}

.Time{
padding-right: 5px;

white-space: nowrap;
}

.navbarLanguageTitle{
white-space: nowrap;
}

.navbarLanguageSelection{
margin-left: 5px;
}
.navbarLanguageSelection select{
padding: 0;
font-size: 8px;
}

.OrgName{
white-space: nowrap;
font-size: 7px;
}

.pages {
font-size: 7px;
padding: 10px;
}

.table .box {

padding: 3px 80px;
width: 44.5%;
margin-right: 15px;
 
}

.table .table-line {

height: 20vh;
margin-right: 15px;
width: 39%;
}

table .table-line .table-2-text {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 40px;
white-space: nowrap;
}

.table .table-line .table-2-text p {
margin-top: 20px;
text-align: center;
padding-top: 20px;
font-size: 20px;
white-space: nowrap;
}
.table {
display: flex;
flex-direction: column;
align-items: flex-start;

justify-content: flex-start;

}
.main-hero {
margin-top: 15%;
height: 60%;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.main-hero .main-table {
height: 40%;
margin-top: 20px;
display: flex;
justify-content: center;
align-self: center;
flex-direction: column;
width: 80%;
}


.main-hero .main-table .table{
  background-color: #088178;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  }

  .main-hero .main-table .table-line span{
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    }
  
.main-hero .main-table .table-line .submit{
  height: 60%;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  }  
.main-hero .main-table .table-line .submit input{
  padding: 5px 10px 5px 2.5px;
  margin-right: 5px;
  border-radius: 5px;
  width:60%;
  background-color: rgb(210, 209, 209);
  border: none;
  outline: none;
  }
  .main-hero .main-table .table-line .submit .content{
    padding: 5px 10px 5px 2.5px;
    margin-right: 5px;
    border-radius: 5px;
    width:60%;
    border: none;
    outline: none;
    }


}
/* For devices between 375px and 576px */
@media (min-width: 360px) and (max-width: 767px) {
  .LandingPageImage {
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .button1 {
    margin-top: 280px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }

  .button2 {
    margin-top: 25px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }

  .emailInput
{
  margin-top: 240px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);  border: none;
  height: 30px;
  width: 150px;
  border-radius: 16px;
  padding-left: 15px;

}
.emailInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}

.emailInput:focus
{
outline: none;

}
.passwordInput
{
  margin-top: 10px;
  display: flex;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 16px;
  padding-left: 15px;

}
.passwordInput::placeholder {
  color: rgba(0, 0, 0, 0.664);
}
.passwordInput:focus
{
outline: none;

}

.buttonLogin
{
  margin-top: 15px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d0d091;
  color: rgba(0, 0, 0, 0.664);
  border-radius: 16px;
  cursor: pointer;
  font-size: 12px;
}


.NavBarFamilyPage
{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navImage
{
  height: 100%;
}
.navbarTitle
{
  font-weight: 700;
  font-size:8px;
}
.navbarlogout
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:50px ;
  font-size: 8px;
  margin-right: 6px;
  cursor: pointer;
}





.inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 10%;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 10%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 1%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 80%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:15px;
  width: 40%;
  border-radius: 6px;
}
.TitlePERSONALDETAILS
{
  margin-top: 50px;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;

}
.SubmitButton
{
  margin: 60px;
  background-color: #3AA4A4;
  height: 200px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: white;
 display: flex;
  justify-content: center;
  align-items: center;

}
.SubmitButton:hover
{
  margin: 60px;
  background-color: white;
  height: 220px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: #3AA4A4;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3AA4A4;
  cursor: pointer;

}
.subNavbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3AA4A4;
  color: white;
  width: 100%;
  font-size: 10px;
  height: 75px;
}
.navbar
{
height: 30px;
width: 80%;

}


.navbarLanguage
{

width: 28%;

}



.navbarDateTime
{
font-size: 8px;
}

.navbarLanguage{
font-size: 8px;
}

.Date{
padding-right: 5px;
margin-right:15px;
white-space: nowrap;
}

.Time{
padding-right: 5px;

white-space: nowrap;
}

.navbarLanguageTitle{
white-space: nowrap;
}

.navbarLanguageSelection{
margin-left: 5px;
}
.navbarLanguageSelection select{
padding: 0;
font-size: 8px;
}

.OrgName{
white-space: nowrap;
font-size: 7px;
}

.pages {
font-size: 7px;
padding: 10px;
}

.table .box {

padding: 3px 80px;
width: 44.5%;
margin-right: 15px;
 
}

.table .table-line {

height: 20vh;
margin-right: 15px;
width: 39%;
}

table .table-line .table-2-text {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 40px;
white-space: nowrap;
}

.table .table-line .table-2-text p {
margin-top: 20px;
text-align: center;
padding-top: 20px;
font-size: 20px;
white-space: nowrap;
}
.table {
display: flex;
flex-direction: column;
align-items: flex-start;

justify-content: flex-start;

}
.main-hero {
margin-top: 40%;
height: 40%;
display: flex;
justify-content: center;
width: 100%;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.main-hero .main-table {
height: 80%;
margin-top: 20px;
display: flex;
justify-content: center;
align-self: center;
flex-direction: column;
width: 80%;
}


.main-hero .main-table .table-line .submit input{
  padding: 10px 20px 10px 5px;
  margin-right: 5px;
  border-radius: 5px;
  width:60%;
  background-color: rgb(210, 209, 209);
  border: none;
  outline: none;
  }
  .main-hero .main-table .table{
    background-color: #088178;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .LandingPageImage {
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .button1 {
    margin-top: 280px;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size :12px;
  }
  .button2 {
    margin-top: 25px;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }
  .emailInput
  {
    margin-top: 350px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 16px;
    padding-left: 15px;
  
  }
  .emailInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  
  .emailInput:focus
  {
  outline: none;
  
  }
  .passwordInput
  {
    margin-top: 15px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 16px;
    padding-left: 15px;
  
  }
  .passwordInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  .passwordInput:focus
  {
  outline: none;
  
  }
  
  .buttonLogin
  {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }




  .NavBarFamilyPage
{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navImage
{
  height: 100%;
}
.navbarTitle
{
  font-weight: 700;
  font-size:12px;
}
.navbarlogout
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:75px ;
  font-size: 12px;
  margin-right: 6px;
  cursor: pointer;
}






.inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 80%;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 80%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 80%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right:150%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:25px;
  width: 40%;
  border-radius: 6px;
}
.TitlePERSONALDETAILS
{
  margin-top: 50px;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;

}
.SubmitButton
{
  margin: 60px;
  background-color: #3AA4A4;
  height: 200px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: white;
 display: flex;
  justify-content: center;
  align-items: center;

}
.SubmitButton:hover
{
  margin: 60px;
  background-color: white;
  height: 220px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: #3AA4A4;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3AA4A4;
  cursor: pointer;

}
.subNavbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3AA4A4;
  color: white;
  width: 100%;
  font-size: 10px;
  height: 75px;
}
}
@media (max-width: 835px)  and (min-width: 768px){


  .emailInput
  {
    margin-top: 350px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    padding-left: 25px;
  
  }
  .emailInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  
  .emailInput:focus
  {
  outline: none;
  
  }
  .passwordInput
  {
    margin-top: 25px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    padding-left: 25px;
  
  }
  .passwordInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  .buttonLogin
  {
    margin-top: 25px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border-radius: 16px;
 
    cursor: pointer;
  }




  .inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 110%;
  height: 50px;
  align-items: center;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 110%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 90%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 142%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:30px;
  width: 20%;
  border-radius: 6px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .LandingPageImage {
    height: 100%;
    width: 40%;
    z-index: -1;
  }
  
  .button1 {
    margin-top: 280px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
  }
  .button2 {
    margin-top: 25px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3AA4A4;
    border-radius: 16px;
    color: white;
    cursor: pointer;
  }
  .emailInput
  {
    margin-top: 350px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    padding-left: 25px;
  
  }
  .emailInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  
  .emailInput:focus
  {
  outline: none;
  
  }
  .passwordInput
  {
    margin-top: 25px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    padding-left: 25px;
  
  }
  .passwordInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  .passwordInput:focus
  {
  outline: none;
  
  }
  
  .buttonLogin
  {
    margin-top: 25px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border-radius: 16px;
 
    cursor: pointer;
  }
  


  .NavBarFamilyPage
{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbarTitle
{
  font-weight: 700;
  font-size: 32px;
}
.navbarlogout
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100px ;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}




.inputField1
{
  display: flex;
  justify-content: end;
  margin-top: 120px;
  width: 100%;
  padding-right: 128%;
  height: 50px;
  align-items: center;
}
.inputField2
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 128%;
  
}
.inputField22
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 132%;
  
}
.inputField23
{
  display: flex;
  justify-content: end;
  margin-top: 35px;
  width: 100%;
  padding-right: 151%;
  
}
.inputFieldinner
{
  margin-right: 15px;
}
.inputBox
{
  height:30px;
  width: 12%;
  border-radius: 6px;
}
.TitlePERSONALDETAILS
{
  margin-top: 50px;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #3AA4A4;
  color:white;

}
.SubmitButton
{
  margin: 60px;
  background-color: #3AA4A4;
  height: 200px;
  width: 180px;
  border-radius: 16px;
  font-size: 24px;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

}
.SubmitButton:hover
{
  margin: 60px;
  background-color: white;
  height: 220px;
  width: 180px;
  border-radius: 16px;
 font-size: 24px;
 color: #3AA4A4;
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3AA4A4;
  cursor: pointer;

}
.subNavbar
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3AA4A4;
  color: white;
  width: 100%;
  height: 100px;
  font-size: 24px;

}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1020px) and (min-width: 1024px) {

  .emailInput
  {
    margin-top: 300px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding-left: 25px;
  
  }
  .emailInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  
  .emailInput:focus
  {
  outline: none;
  
  }
  .passwordInput
  {
    margin-top: 25px;
    display: flex;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding-left: 25px;
  
  }
  .passwordInput::placeholder {
    color: rgba(0, 0, 0, 0.664);
  }
  .passwordInput:focus
  {
  outline: none;
  
  }
  
  .buttonLogin
  {
    margin-top: 25px;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d091;
    color: rgba(0, 0, 0, 0.664);
    border-radius: 16px;
 
    cursor: pointer;
  }
  
}
